@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap');
:root{
  --font-corpo: 'roboto';
  --font-destaque: 'poppins';
}

/* Configurações gerais */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  /*incluir em navegação de uma página só*/
}

body {
  background-color: #EDEDED;
}

header,
main,
footer,
section {
  /* background-color: #124593; */
  max-width: 1400px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
/*começo do nav*/
nav {
  background-image: linear-gradient(to right, #1e3c72, #2a5298);
}


.navTxt{ /*personalizando o texto do nav*/
  font-family: var(--font-destaque);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: white;  
  border-radius: 6px;
}
.navTxt:hover {
  background-color: #05224d;
  color: rgb(226, 214, 214);
  border-radius: 6px;
  transition-duration: 1s;  
}
.logo:hover{
  background-color: #05224d;
  color: rgb(226, 214, 214);
  border-radius: 6px;
  transition-duration: 2s;  
}

/* fim da congif go nav*/
/* Fim das configurações gerais */

.divSombra{
  box-shadow: 0px 2px 4px 4px black;
}

.navbar-toggler {
  border-color: white;

}

.apresentacao h1 {
  font-size: 2.4rem;
  line-height: 2.2rem;  
  font-weight: 600;
  font-family: var(--font-destaque);  
  padding-bottom: 25px;  

}

.apresentacao p {
  padding-left: 25px;
  padding: 15px;
  font-size: 1.1rem;
  font-family: var(--font-corpo);
  line-height: 1.1rem;
}

.campoUm {
  /* background-image: linear-gradient(to right, #1e3c72, #2a5298);   */
  background-color: #112140;
}


.imagem-campoum {
  height: 100%;
  border-radius: 5px 0 0 350px;
  box-shadow: -5px 2px 2px 3px #050e1fa4;
}

.apresentacao {
  display: grid;
  justify-content: center;
}



#btnVerMais {
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  background-color: #0059ff;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-destaque);
  box-shadow: 2px 2px 4px 3px #0000006c;
  margin: auto;
  border: none;
}

#btnVerMais:hover {
  color: white;
  background-color: #103881;
  text-decoration: underline;
}



/* Início do main */

/* Iniciando o campo de serviços */

.servicos {
  background-color: #EDEDED;
  text-align: center;

}

.servicos h2 {
  color: #031b47;
  font-size: 2rem;
  font-family: 'poppins';
  font-weight: 700;
  margin-bottom: 80px;
}
.servicos p {
  padding-left: 25px;
  padding: 15px;
  font-size: 1.1rem;
  font-family: var(--font-corpo);
  line-height: 1.1rem;
}

.servicos img {
  margin-bottom: 11px;
}

.servicos article {
  margin-bottom: 58px;
}
/*fim de servicos*/

/*comeco dos clientes ja atendidos*/
.chamada-cliente{
  /* border-bottom:solid 1px rgba(25, 16, 80, 0.144); */
}
.chamada-cliente h2{
  background-color: #EDEDED;
  text-align: center;
  color: #031b47;
  padding: 30px;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: var(--font-destaque);
  margin-bottom: -15px; /*gambiarra para juntar os dois campos*/
}
.gallery{
  background-color: #EDEDED;
}
.container{
  margin-bottom: 15px;
}

/*fim dos cliente ja atendidos*/
.sobreNos {
  background-image: linear-gradient(to right, #2859a3, #12253f); 
  height: 250px;
  align-items: center;
}
.sobreNos article{
  max-width: 800px;
}
.sobreNos h2{
  color: rgb(255, 255, 255);
  font-family: var(--font-destaque);
  font-weight: 600;
  font-size: 2rem;
 
}
.sobreNos p {
  color: rgb(255, 255, 255);
  font-family: var(--font-corpo);
  font-size: 1.1rem;
  line-height: 1.2rem;
  
}

/* Section contato */
.contato {
  background-color: #112140;
  color: white;
}
.contato h2{
  font-family: var(--font-destaque);
  font-weight: 600;
  font-size: 2rem;
 
}
.contato span{
  font-family: var(--font-destaque);
}

/*fim da section contato*/

/* fim do main */
/* Inicio do footer */

@media (min-width: 1400px) {
  .imagem-campoum {
    border-radius: 5px 0 0 500px;
  }

  .apresentação {
    display: grid;
    justify-content: center;
  }

}

@media (min-width: 1036px) {
  .lampada {
    width: 550px;
    /* padding-right: 40px;  */
  }

  .apresentacao {
    /* margin-top: -75px;       */
  }

  .apresentacao p {
    padding-left: 50px;
  }


}

@media (min-width:880px) and (max-width: 1035px) {
  .lampada {
    width: 480px;
    /* padding-right: 35px;  */
  }

  #btnVerMais {
    padding: 12px 24px;
  }
}

@media (max-width: 879px) {
  .lampada {
    width: 390px;
    /* padding-right: 60px;  */
  }

  #btnVerMais {
    padding: 0.8rem 1.6rem;
  }
}



/* Início do main */

/* Iniciando o campo de serviços */

.servicos {
  background-color: #EDEDED;
  text-align: center;

}

.servicos h2 {
  color: #031b47;
}

.servicos img {
  margin-bottom: 11px;
}

.servicos article {
  margin-bottom: 58px;
}

.chamada-cliente {
  background-image: linear-gradient(to right, #124593, #09234A);
  text-align: center;
  color: white;
  padding: 30px;
  font-weight: bold;
  font-size: 20px;
}

.sobre {
  background-image: linear-gradient(to right, #124593, #09234A);
}

/* fim do main */

/* Section contato */
.contato {
  background-color: #112140;
  color: white;
  margin: 0 auto
}
  /* .contato input, .contato select, .contato textarea {
    width: 50vw;
    margin: 0 auto;
  } */



  @media (min-width: 720px) {
    .divinput {
      padding-right: 15%;
      padding-left: 15%;
    }

  }

    /* .contato label {
      width: 50vw;
      margin: 0 auto;
    }
} */

/* Inicio do footer */
>>>>>>> adriel

